/* В ЭТОМ ФАЙЛЕ ОПИСАНЫ ОБЩИЕ ЭЛЕМЕНТЫ */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* HEADER, FOOTER*/
header,
footer {
    background-color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav li {
    float: left;
    margin-right: 5px;
}

.nav a {
    flex: 1;
    display: block;
    padding: 15px 15px;
    background: black;
    font-family: Inter;
    color: #7977b5;
    text-decoration: none; /* Устранение подчёркивания ссылок. */
    position: relative; /* Необходимо при использовании Internet Explorer 6 для того, чтобы ссылка по всей своей площади была «кликабельной». */
    text-align: center;
}

.nav a:hover {
    background: #1d104e;
    color: white;
}

/* H1 */
h1 {
    font-family: Inter;
    color: white;
    font-weight: 400;
    font-size: 35px;
    line-height: 90%;
    padding-bottom: 64px;
    padding-top: 150px;
    position: relative;
    text-align: center;
}

p {
    font-family: Inter;
    margin: 0px;
    color: black;
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    padding: 8% 0% 0% 8%;
}
/* БАННЕР */
.banner_img {
    width:100%;
    height:400px;
    background-size: cover;
    background-position:center;
}
.banner1 {
    background-image: url(https://images.squarespace-cdn.com/content/v1/5894d950b3db2b6ff1ac1445/1627221668860-P3PX4XZ4ZP2C2GGZOBOI/%D0%90%D1%85%D0%BC%D0%B0%D1%82%D0%BD%D1%83%D1%80%D0%BE%D0%B2_%D0%A0%D1%83%D1%81%D0%BB%D0%B0%D0%BD_2.jpg?format=2500w);
}

.banner2 {
    background-image: url(https://images.squarespace-cdn.com/content/v1/5894d950b3db2b6ff1ac1445/1486583909025-6XC48Z7ACFJICIRTUAT2/01.jpg?format=2500w);
}

/* ФОН */
.viewport {
    position: relative;
    background: linear-gradient(90deg, #20e6b3, #8e11f3, #4c20d4);
    background-size: 200% 200%;
    height: auto;
    width: 100%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

